{% extends 'base.html' %}

{% block head_title %}Store{% endblock head_title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
            </tr>
        </thead>
        {% for product in products %}
            <tbody>
                <tr>
                    <td>{{ product.symbol }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock content %}
